// Colors
$blk: #10161a;
$blue: #6195ff;
$dgray: #868f9b;
$lgray: #ffffff;
$overlay: #1c1d21;
$border: #eee;
$featured: #fafafa;
$footer: #1c1d21;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Varela Round", sans-serif;
}

.container {
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;
}

// Navigation
nav {
  width: 100%;
  padding: 18px 0;
  position: absolute;
  top: 0;
  z-index: 2;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    #menu {
      color: #fff;
      cursor: pointer;
      display: none;
    }
    .logo {
      a {
        color: $lgray;
        text-decoration: none;
        text-transform: uppercase;
        h1 {
          font-weight: 600;
          font-size: 1.8rem;
          margin: 0;
        }
      }
    }
    .items-right {
      display: flex;
      align-items: center;
      a {
        margin-right: 30px;
        text-decoration: none;
        text-transform: capitalize;
        font-size: 0.9rem;
        color: $lgray;
        padding: 4px 0;
        transition: 0.3s ease-in-out;
        &:hover {
          opacity: 0.8;
        }
        &:nth-child(1) {
          border-bottom: 2px solid $blue;
        }
      }
    }
  }
}


// Hero
.hero {
  width: 100%;
  background: url("img/background1.webp") no-repeat center center;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-attachment: fixed;
  .overlay {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $overlay;
    opacity: 0.8;
  }
  .container {
    width: 100%;
    max-width: 960px;
    text-align: center;
    position: relative;
    z-index: 99;
    h1 {
      margin: 0;
      font-family: "Montserrat", sans-serif;
      font-size: 3.4rem;
      text-transform: uppercase;
      color: $lgray;
      font-weight: 700;
    }
    span {
      display: block;
      color: $lgray;
      font-size: 1rem;
      margin: 14px 0 0 0;
      line-height: 1.7;
    }
    .hero-btn {
      padding: 40px 0;
      .btn {
        border: 1px solid $lgray;
        padding: 12px 35px;
        border-radius: 3px;
        border: 1px solid $lgray;
        color: $blk;
        background: $lgray;
        font-size: 1rem;
        text-transform: capitalize;
        text-decoration: none;
        margin-right: 6px;
        transition: 0.3s ease-in-out;
        &:hover {
          opacity: 0.8;
        }
        &:last-child {
          background: $blue;
          border: 1px solid $blue;
          color: $lgray;
        }
      }
    }
  }
}

// welcome
.welcome,
.featured,
.offer,
.pricing,
.team,
.news,
.contact {
  width: 100%;
  padding: 100px 0;
  .border {
    width: 100%;
    display: flex;
    justify-content: center;
    .blue-border {
      height: 4px;
      width: 40px;
      background: $blue;
    }
  }
  h1 {
    margin: 0 0 20px 0;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
    font-size: 2.3rem;
  }
  .container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    .card {
      width: 100%;
      max-width: 375px;
      margin: 60px 0 0 0;
      padding: 45px 21px;
      border: 1px solid $border;
      position: relative;
      i {
        color: $blue;
      }
      h3 {
        text-transform: capitalize;
        font-size: 1.4rem;
        margin: 20px 0 20px 0;
        font-family: "Montserrat", sans-serif;
      }
      p {
        color: $dgray;
      }
      a {
        text-decoration: none;
        color: $blue;
      }
    }
  }
}

// featured
.featured {
  background: $featured;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 70px 0;
    .pic {
      width: 365px;
      height: 365px;
      margin: 20px 0;
      img {
        width: 100%;
        display: block;
      }
    }
  }
}

// offer
.offer {
  width: 100%;
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px 0;
    .box {
      border: 1px solid $border;
      width: 100%;
      max-width: 375px;
      display: flex;
      align-items: flex-start;
      padding: 40px 20px 40px 20px;
      margin-top: 30px;
      .icon {
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        margin: 4px 12px 0 0;
        i {
          width: 100%;
          height: 100%;
          color: $blue;
        }
      }
      .card-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        h3 {
          margin: 0;
          text-transform: capitalize;
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
          font-size: 1.3rem;
        }
        p {
          margin: 20px 0 0 0;
          font-size: 1rem;
          color: $dgray;
          line-height: 1.5;
        }
      }
    }
  }
}

// why-us
.why-us {
  width: 100%;
  padding: 100px 0;
  background: #fafafa;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  .container {
    display: flex;
    justify-content: space-between;
    .card-left {
      width: 100%;
      max-width: 550px;
      h1 {
        margin: 0 0 20px 0;
        font-family: "Montserrat", sans-serif;
        text-transform: capitalize;
        font-size: 2.3rem;
      }
      .border {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        .blue-border {
          height: 4px;
          width: 40px;
          background: $blue;
        }
      }
      .choose-us {
        p {
          color: $dgray;
          margin: 0;
          padding: 55px 0 15px 0;
          line-height: 1.8;
        }
      }
      .feature {
        .icon {
          display: flex;
          align-items: center;
          i {
            color: $blue;
            margin-right: 7px;
          }
          p {
            margin: 10px 0;
            font-size: 1.1rem;
            color: $dgray;
          }
        }
      }
    }
    .img-right {
      width: 100%;
      max-width: 600px;
      img {
        display: block;
        width: 100%;
      }
      .dots {
        text-align: center;
        margin: 10px 0;
        i {
          color: #eee;
          margin-right: 4px;
          transition: 0.3s ease-in-out;
          cursor: pointer;
          &:nth-child(3) {
            color: $blue;
          }
          &:hover {
            color: $blue;
          }
        }
      }
    }
  }
}

// Numbers
.numbers {
  width: 100%;
  background: url("img/background2.webp") no-repeat center center;
  background-size: cover;
  padding: 80px;
  background-attachment: fixed;
  position: relative;
  z-index: -1;
  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
    z-index: -1;
  }
  .container {
    display: flex;
    justify-content: space-between;
    .card-num {
      width: 100%;
      max-width: 200px;
      text-align: center;
      i {
        color: $blue;
      }
      h3 {
        color: #fff;
        margin: 10px 0;
        font-size: 3rem;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
      }
      span {
        display: block;
        color: #fff;
      }
    }
  }
}

// Pricing
.pricing {
  width: 100%;
  .container {
    .card {
      width: 100%;
      max-width: 375px;
      h3 {
        margin: 0;
        color: $dgray;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 1rem;
        margin-bottom: 25px;
      }
      .circle {
        border: 2px solid $blue;
        width: 140px;
        height: 140px;
        margin: 0 auto;
        border-radius: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        h3 {
          margin: 0;
          font-size: 3rem;
          font-weight: 600;
          color: $blk;
        }
        span {
          display: block;
          text-transform: uppercase;
          font-weight: 700;
          font-family: "Montserrat", sans-serif;
          font-size: 0.9rem;
        }
      }
      .features {
        padding: 15px 0 20px 0;
        display: flex;
        flex-direction: column;
        span {
          display: block;
          line-height: 2.4;
          color: $dgray;
        }
      }
      .pricing-btn {
        margin: 20px 0;
        a {
          border: 2px solid $blue;
          padding: 12px 35px;
          border-radius: 4px;
          text-transform: capitalize;
        }
      }
    }
  }
}

// Testimonials
.testimonials {
  width: 100%;
  background: url("img/background3.webp") no-repeat center center;
  padding: 125px 0;
  background-size: cover;
  position: relative;
  z-index: -1;
  background-attachment: fixed;
  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.6;
    z-index: -1;
  }
  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    .card {
      width: 100%;
      max-width: 490px;
      .wrap {
        display: flex;
        align-items: center;
        img {
          border-radius: 50%;
        }
        .info {
          margin-left: 15px;
          h1 {
            margin: 0;
            color: #fff;
            text-transform: capitalize;
            font-weight: 600;
            font-size: 1.4rem;
            font-family: "Montserrat", sans-serif;
          }
          span {
            display: block;
            color: $blue;
            text-transform: uppercase;
            font-size: 0.9rem;
            font-weight: 600;
            margin-top: 8px;
          }
        }
      }
      p {
        color: #fff;
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
  }
}

// Team
.team {
  width: 100%;
  .container {
    .card {
      width: 100%;
      background: #f4f4f4;
      padding: 40px 20px;
      border: none;
      .image {
        height: 300px;
        width: 330px;
        img {
          width: 100%;
          display: block;
        }
      }
      .name-role {
        h3 {
          margin: 12px 0;
          font-size: 1.3rem;
        }
        span {
          display: block;
          text-transform: uppercase;
          color: $dgray;
          font-size: 0.9rem;
        }
      }
    }
  }
}

// News
.news {
  width: 100%;
  background: $featured;
  .container {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    .box {
      width: 100%;
      max-width: 375px;
      padding: 0 0 30px 0;
      background: #fff;
      .box-image {
        width: 100%;
        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
      .box-content {
        text-align: left;
        padding: 0 20px 0 20px;
        margin: 0;
        display: flex;
        align-items: center;
        .icon {
          display: flex;
          align-items: center;
          i {
            color: $blue;
          }
          p {
            padding: 0 10px 0 4px;
            text-transform: capitalize;
            font-size: 0.89rem;
          }
        }
      }
      .box-text {
        padding: 0 22px 0 20px;
        text-align: left;
        h3 {
          font-weight: 600;
          font-size: 1.3rem;
          margin: 0;
          font-family: "Montserrat", sans-serif;
        }
        p {
          color: $dgray;
          line-height: 1.5rem;
        }
        a {
          color: $blue;
          text-transform: capitalize;
          text-decoration: none;
        }
      }
    }
  }
}

// Contact
.contact {
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  .container {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    .box {
      width: 100%;
      max-width: 380px;
      i {
        color: $blue;
      }
      h3 {
        text-transform: capitalize;
        font-size: 1.3rem;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        margin: 15px 0 0 0;
      }
      span {
        display: block;
        color: $dgray;
        margin: 15px 0 0 0;
      }
    }
  }
  .contact-form {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    .first-last {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      input {
        padding: 12px 10px;
        background: #fafafa;
        color: #bababa;
        font-size: 0.98rem;
        border: none;
        &:focus {
          color: #000;
        }
        &::placeholder {
          color: #bfbfbf;
        }
        &:nth-child(1) {
          width: 390px;
        }
        &:nth-child(2) {
          width: 390px;
        }
      }
    }
    .subject {
      margin: 20px 0 0 0;
      input {
        width: 100%;
        padding: 12px 10px;
        background: #fafafa;
        color: #bababa;
        font-size: 0.98rem;
        border: none;
        &::placeholder {
          color: #bfbfbf;
        }
        &:focus {
          color: #000;
        }
      }
    }
    .message {
      margin: 20px 0 0 0;
      textarea {
        width: 100%;
        padding: 12px 10px;
        background: #fafafa;
        color: #bababa;
        font-size: 1.3rem;
        border: none;
        &::placeholder {
          color: #bfbfbf;
        }
        &:focus {
          color: #000;
        }
      }
    }
    .button {
      text-align: center;
      margin: 40px 0;
      a {
        background: $blue;
        padding: 15px 40px;
        color: #fff;
        text-transform: capitalize;
        text-decoration: none;
        border-radius: 4px;
        transition: 0.4s ease-in-out;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

// Footer
footer {
  width: 100%;
  background: $footer;
  padding: 60px 0;
  .footer-img {
    width: 100%;
    text-align: center;
    img {
    }
  }
  .container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .card {
      margin: 40px 0 20px 0;
      width: 100%;
      max-width: 50px;
      height: 50px;
      background: $blue;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      transition: 0.4s ease-in-out;
      cursor: pointer;
      i {
        color: #fff;
      }
      &:hover {
        opacity: 0.7;
      }
    }
  }
  p {
    text-align: center;
    color: #868f9b;
    font-size: 0.9rem;
    a {
      color: $blue;
      text-decoration: none;
    }
  }
}

// ------------------------------
// Responsive design starts here 
// ------------------------------
@media (max-width: 768px) {
  // Hero 
  .hero {
    .container {
      width: 90%;
      h1 {
        font-size: 2.4rem;
      }
    }
  }
  // Welcome
  .welcome {
    .container {
      flex-direction: column;
      align-items: center;
      width: 95%;
      .card {
        margin: 10px 0 0 0;
      }
    }
  }

  // Featured
  .featured {
    .container {
      flex-direction: column;
      align-items: center;
      .pic {
        margin: 10px 0 0 0;
      }
    }
  }

  // Offer
  .offer {
    .container {
      flex-direction: column;
      align-items: center;
      .box {
        margin: 10px 0 0 0;
      }
    }
  }

  // Why Us
  .why-us {
    .container {
      width: 90%;
      flex-direction: column;
      .img-right {
        margin: 20px 0 0 0;
      }
    }
  }

  // Numbers
  .numbers {
    .container {
      width: 98%;
      flex-wrap: wrap;
      justify-content: center;
      .card-num {
        width: 160px;
        margin: 15px 0 0 0;
      }
    }
  }

  // Pricing
  .pricing {
    .container {
      width: 90%;
      flex-direction: column;
      align-items: center;
      .card {
        margin: 10px 0 0 0;
      }
    }
  }

  // Testimonials
  .testimonials {
    text-align: center;
    .container {
      width: 90%;
      flex-direction: column;
      align-items: center;
      .card {
        margin: 10px 0 0 0;
        .wrap {
          justify-content: center;
        }
      }
    }
  }

  // Team
  .team {
    .container {
      width: 90%;
      flex-direction: column;
      align-items: center;
      .card {
        margin: 10px 0 0 0;
      }
    }
  }

  // News
  .news {
    .container {
      width: 90%;
      flex-direction: column;
      align-items: center;
      .box {
        margin: 15px 0 0 0;
      }
    }
  }

  // Contact
  .contact {
    .container {
      width: 90%;
      flex-wrap: wrap;
      align-items: center;
      .box {
        max-width: 220px;
        margin: 10px auto;
      }
    }
    .contact-form {
      width: 90%;
      .first-last {
        input {
          &:nth-child(1) {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

// Hero 
@media (max-width: 1048px) {
  // Hero 
  .hero {
    .container {
      width: 90%;
    }
  }
}

@media (max-width: 1260px) {
  nav {
    background: #fff;
    width: 100%;
    .container {
      flex-wrap: wrap;
      width: 90%;
      .logo {
        a {
          h1 {
            color: #000;
          }
        }
      }
      #menu {
        display: block;
        color: #000;
      }
      .items-right {
        display: flex;
        flex-direction: column;
        width: 100%;
        &.hide {
          display: none;
        }
        a {
        -webkit-user-select: none;
        color: #000;
        font-weight: 600;
        }
      }
    }
  }
}

@media (max-width: 1267px) {
  // Welcome
  .welcome {
    .container {
      width: 90%;
      justify-content: space-evenly;
      flex-wrap: wrap;
      .card {
        max-width: 480px;
      }
    }
  }

  // Featured
  .featured {
    .container {
      width: 90%;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  // Offer
  .offer {
    .container {
      width: 90%;
      flex-wrap: wrap;
      justify-content: space-evenly;
      .box {
        max-width: 430px;
      }
    }
  }
}

@media (max-width: 1318px) {
  .why-us {
    .container {
      width: 90%;
      flex-direction: column;
      align-items: center;
      .card-left {
        max-width: 950px;
      }
      .img-right {
        margin: 30px 0 0 0;
        max-width: 950px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .testimonials {
    .container {
      max-width: 90%;
      .card {
        max-width: 370px;
      }
    }
  }
}

@media (max-width: 905px) {
  .contact {
    .contact-form {
      max-width: 90%;
    }
  }
}

@media (min-width: 768px) and (max-width: 1265px) {
  .team {
    .container {
      max-width: 90%;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      .card {
        margin: 10px 0;
      }
    }
  }
}


@media (min-width: 769px) and (max-width: 1274px) {
  .pricing {
    .container {
      max-width: 90%;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      .card {
        max-width: 300px;
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .news {
    .container {
      max-width: 90%;
      flex-wrap: wrap;
      .box {
        max-width: 450px;
        margin: 15px auto;
      }
    }
  }
}