* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Varela Round", sans-serif;
}

.container {
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;
}

nav {
  width: 100%;
  padding: 18px 0;
  position: absolute;
  top: 0;
  z-index: 2;
}

nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container #menu {
  color: #fff;
  cursor: pointer;
  display: none;
}

nav .container .logo a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

nav .container .logo a h1 {
  font-weight: 600;
  font-size: 1.8rem;
  margin: 0;
}

nav .container .items-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container .items-right a {
  margin-right: 30px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 0.9rem;
  color: #ffffff;
  padding: 4px 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

nav .container .items-right a:hover {
  opacity: 0.8;
}

nav .container .items-right a:nth-child(1) {
  border-bottom: 2px solid #6195ff;
}

.hero {
  width: 100%;
  background: url("img/background1.webp") no-repeat center center;
  min-height: 100vh;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-attachment: fixed;
}

.hero .overlay {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #1c1d21;
  opacity: 0.8;
}

.hero .container {
  width: 100%;
  max-width: 960px;
  text-align: center;
  position: relative;
  z-index: 99;
}

.hero .container h1 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 3.4rem;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}

.hero .container span {
  display: block;
  color: #ffffff;
  font-size: 1rem;
  margin: 14px 0 0 0;
  line-height: 1.7;
}

.hero .container .hero-btn {
  padding: 40px 0;
}

.hero .container .hero-btn .btn {
  border: 1px solid #ffffff;
  padding: 12px 35px;
  border-radius: 3px;
  border: 1px solid #ffffff;
  color: #10161a;
  background: #ffffff;
  font-size: 1rem;
  text-transform: capitalize;
  text-decoration: none;
  margin-right: 6px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hero .container .hero-btn .btn:hover {
  opacity: 0.8;
}

.hero .container .hero-btn .btn:last-child {
  background: #6195ff;
  border: 1px solid #6195ff;
  color: #ffffff;
}

.welcome,
.featured,
.offer,
.pricing,
.team,
.news,
.contact {
  width: 100%;
  padding: 100px 0;
}

.welcome .border,
.featured .border,
.offer .border,
.pricing .border,
.team .border,
.news .border,
.contact .border {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.welcome .border .blue-border,
.featured .border .blue-border,
.offer .border .blue-border,
.pricing .border .blue-border,
.team .border .blue-border,
.news .border .blue-border,
.contact .border .blue-border {
  height: 4px;
  width: 40px;
  background: #6195ff;
}

.welcome h1,
.featured h1,
.offer h1,
.pricing h1,
.team h1,
.news h1,
.contact h1 {
  margin: 0 0 20px 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  font-size: 2.3rem;
}

.welcome .container,
.featured .container,
.offer .container,
.pricing .container,
.team .container,
.news .container,
.contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.welcome .container .card,
.featured .container .card,
.offer .container .card,
.pricing .container .card,
.team .container .card,
.news .container .card,
.contact .container .card {
  width: 100%;
  max-width: 375px;
  margin: 60px 0 0 0;
  padding: 45px 21px;
  border: 1px solid #eee;
  position: relative;
}

.welcome .container .card i,
.featured .container .card i,
.offer .container .card i,
.pricing .container .card i,
.team .container .card i,
.news .container .card i,
.contact .container .card i {
  color: #6195ff;
}

.welcome .container .card h3,
.featured .container .card h3,
.offer .container .card h3,
.pricing .container .card h3,
.team .container .card h3,
.news .container .card h3,
.contact .container .card h3 {
  text-transform: capitalize;
  font-size: 1.4rem;
  margin: 20px 0 20px 0;
  font-family: "Montserrat", sans-serif;
}

.welcome .container .card p,
.featured .container .card p,
.offer .container .card p,
.pricing .container .card p,
.team .container .card p,
.news .container .card p,
.contact .container .card p {
  color: #868f9b;
}

.welcome .container .card a,
.featured .container .card a,
.offer .container .card a,
.pricing .container .card a,
.team .container .card a,
.news .container .card a,
.contact .container .card a {
  text-decoration: none;
  color: #6195ff;
}

.featured {
  background: #fafafa;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.featured .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 70px 0;
}

.featured .container .pic {
  width: 365px;
  height: 365px;
  margin: 20px 0;
}

.featured .container .pic img {
  width: 100%;
  display: block;
}

.offer {
  width: 100%;
}

.offer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 80px 0;
}

.offer .container .box {
  border: 1px solid #eee;
  width: 100%;
  max-width: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 40px 20px 40px 20px;
  margin-top: 30px;
}

.offer .container .box .icon {
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4px 12px 0 0;
}

.offer .container .box .icon i {
  width: 100%;
  height: 100%;
  color: #6195ff;
}

.offer .container .box .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}

.offer .container .box .card-content h3 {
  margin: 0;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
}

.offer .container .box .card-content p {
  margin: 20px 0 0 0;
  font-size: 1rem;
  color: #868f9b;
  line-height: 1.5;
}

.why-us {
  width: 100%;
  padding: 100px 0;
  background: #fafafa;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.why-us .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why-us .container .card-left {
  width: 100%;
  max-width: 550px;
}

.why-us .container .card-left h1 {
  margin: 0 0 20px 0;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  font-size: 2.3rem;
}

.why-us .container .card-left .border {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.why-us .container .card-left .border .blue-border {
  height: 4px;
  width: 40px;
  background: #6195ff;
}

.why-us .container .card-left .choose-us p {
  color: #868f9b;
  margin: 0;
  padding: 55px 0 15px 0;
  line-height: 1.8;
}

.why-us .container .card-left .feature .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why-us .container .card-left .feature .icon i {
  color: #6195ff;
  margin-right: 7px;
}

.why-us .container .card-left .feature .icon p {
  margin: 10px 0;
  font-size: 1.1rem;
  color: #868f9b;
}

.why-us .container .img-right {
  width: 100%;
  max-width: 600px;
}

.why-us .container .img-right img {
  display: block;
  width: 100%;
}

.why-us .container .img-right .dots {
  text-align: center;
  margin: 10px 0;
}

.why-us .container .img-right .dots i {
  color: #eee;
  margin-right: 4px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.why-us .container .img-right .dots i:nth-child(3) {
  color: #6195ff;
}

.why-us .container .img-right .dots i:hover {
  color: #6195ff;
}

.numbers {
  width: 100%;
  background: url("img/background2.webp") no-repeat center center;
  background-size: cover;
  padding: 80px;
  background-attachment: fixed;
  position: relative;
  z-index: -1;
}

.numbers .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
  z-index: -1;
}

.numbers .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.numbers .container .card-num {
  width: 100%;
  max-width: 200px;
  text-align: center;
}

.numbers .container .card-num i {
  color: #6195ff;
}

.numbers .container .card-num h3 {
  color: #fff;
  margin: 10px 0;
  font-size: 3rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.numbers .container .card-num span {
  display: block;
  color: #fff;
}

.pricing {
  width: 100%;
}

.pricing .container .card {
  width: 100%;
  max-width: 375px;
}

.pricing .container .card h3 {
  margin: 0;
  color: #868f9b;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 25px;
}

.pricing .container .card .circle {
  border: 2px solid #6195ff;
  width: 140px;
  height: 140px;
  margin: 0 auto;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing .container .card .circle h3 {
  margin: 0;
  font-size: 3rem;
  font-weight: 600;
  color: #10161a;
}

.pricing .container .card .circle span {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
}

.pricing .container .card .features {
  padding: 15px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pricing .container .card .features span {
  display: block;
  line-height: 2.4;
  color: #868f9b;
}

.pricing .container .card .pricing-btn {
  margin: 20px 0;
}

.pricing .container .card .pricing-btn a {
  border: 2px solid #6195ff;
  padding: 12px 35px;
  border-radius: 4px;
  text-transform: capitalize;
}

.testimonials {
  width: 100%;
  background: url("img/background3.webp") no-repeat center center;
  padding: 125px 0;
  background-size: cover;
  position: relative;
  z-index: -1;
  background-attachment: fixed;
}

.testimonials .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0.6;
  z-index: -1;
}

.testimonials .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.testimonials .container .card {
  width: 100%;
  max-width: 490px;
}

.testimonials .container .card .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials .container .card .wrap img {
  border-radius: 50%;
}

.testimonials .container .card .wrap .info {
  margin-left: 15px;
}

.testimonials .container .card .wrap .info h1 {
  margin: 0;
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
}

.testimonials .container .card .wrap .info span {
  display: block;
  color: #6195ff;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 8px;
}

.testimonials .container .card p {
  color: #fff;
  font-size: 1rem;
  line-height: 1.5rem;
}

.team {
  width: 100%;
}

.team .container .card {
  width: 100%;
  background: #f4f4f4;
  padding: 40px 20px;
  border: none;
}

.team .container .card .image {
  height: 300px;
  width: 330px;
}

.team .container .card .image img {
  width: 100%;
  display: block;
}

.team .container .card .name-role h3 {
  margin: 12px 0;
  font-size: 1.3rem;
}

.team .container .card .name-role span {
  display: block;
  text-transform: uppercase;
  color: #868f9b;
  font-size: 0.9rem;
}

.news {
  width: 100%;
  background: #fafafa;
}

.news .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 0;
}

.news .container .box {
  width: 100%;
  max-width: 375px;
  padding: 0 0 30px 0;
  background: #fff;
}

.news .container .box .box-image {
  width: 100%;
}

.news .container .box .box-image img {
  width: 100%;
  height: auto;
  display: block;
}

.news .container .box .box-content {
  text-align: left;
  padding: 0 20px 0 20px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news .container .box .box-content .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news .container .box .box-content .icon i {
  color: #6195ff;
}

.news .container .box .box-content .icon p {
  padding: 0 10px 0 4px;
  text-transform: capitalize;
  font-size: 0.89rem;
}

.news .container .box .box-text {
  padding: 0 22px 0 20px;
  text-align: left;
}

.news .container .box .box-text h3 {
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.news .container .box .box-text p {
  color: #868f9b;
  line-height: 1.5rem;
}

.news .container .box .box-text a {
  color: #6195ff;
  text-transform: capitalize;
  text-decoration: none;
}

.contact {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 0;
}

.contact .container .box {
  width: 100%;
  max-width: 380px;
}

.contact .container .box i {
  color: #6195ff;
}

.contact .container .box h3 {
  text-transform: capitalize;
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 15px 0 0 0;
}

.contact .container .box span {
  display: block;
  color: #868f9b;
  margin: 15px 0 0 0;
}

.contact .contact-form {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.contact .contact-form .first-last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.contact .contact-form .first-last input {
  padding: 12px 10px;
  background: #fafafa;
  color: #bababa;
  font-size: 0.98rem;
  border: none;
}

.contact .contact-form .first-last input:focus {
  color: #000;
}

.contact .contact-form .first-last input::-webkit-input-placeholder {
  color: #bfbfbf;
}

.contact .contact-form .first-last input:-ms-input-placeholder {
  color: #bfbfbf;
}

.contact .contact-form .first-last input::-ms-input-placeholder {
  color: #bfbfbf;
}

.contact .contact-form .first-last input::placeholder {
  color: #bfbfbf;
}

.contact .contact-form .first-last input:nth-child(1) {
  width: 390px;
}

.contact .contact-form .first-last input:nth-child(2) {
  width: 390px;
}

.contact .contact-form .subject {
  margin: 20px 0 0 0;
}

.contact .contact-form .subject input {
  width: 100%;
  padding: 12px 10px;
  background: #fafafa;
  color: #bababa;
  font-size: 0.98rem;
  border: none;
}

.contact .contact-form .subject input::-webkit-input-placeholder {
  color: #bfbfbf;
}

.contact .contact-form .subject input:-ms-input-placeholder {
  color: #bfbfbf;
}

.contact .contact-form .subject input::-ms-input-placeholder {
  color: #bfbfbf;
}

.contact .contact-form .subject input::placeholder {
  color: #bfbfbf;
}

.contact .contact-form .subject input:focus {
  color: #000;
}

.contact .contact-form .message {
  margin: 20px 0 0 0;
}

.contact .contact-form .message textarea {
  width: 100%;
  padding: 12px 10px;
  background: #fafafa;
  color: #bababa;
  font-size: 1.3rem;
  border: none;
}

.contact .contact-form .message textarea::-webkit-input-placeholder {
  color: #bfbfbf;
}

.contact .contact-form .message textarea:-ms-input-placeholder {
  color: #bfbfbf;
}

.contact .contact-form .message textarea::-ms-input-placeholder {
  color: #bfbfbf;
}

.contact .contact-form .message textarea::placeholder {
  color: #bfbfbf;
}

.contact .contact-form .message textarea:focus {
  color: #000;
}

.contact .contact-form .button {
  text-align: center;
  margin: 40px 0;
}

.contact .contact-form .button a {
  background: #6195ff;
  padding: 15px 40px;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  border-radius: 4px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.contact .contact-form .button a:hover {
  opacity: 0.7;
}

footer {
  width: 100%;
  background: #1c1d21;
  padding: 60px 0;
}

footer .footer-img {
  width: 100%;
  text-align: center;
}

footer .container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container .card {
  margin: 40px 0 20px 0;
  width: 100%;
  max-width: 50px;
  height: 50px;
  background: #6195ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

footer .container .card i {
  color: #fff;
}

footer .container .card:hover {
  opacity: 0.7;
}

footer p {
  text-align: center;
  color: #868f9b;
  font-size: 0.9rem;
}

footer p a {
  color: #6195ff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .hero .container {
    width: 90%;
  }
  .hero .container h1 {
    font-size: 2.4rem;
  }
  .welcome .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 95%;
  }
  .welcome .container .card {
    margin: 10px 0 0 0;
  }
  .featured .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .featured .container .pic {
    margin: 10px 0 0 0;
  }
  .offer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .offer .container .box {
    margin: 10px 0 0 0;
  }
  .why-us .container {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .why-us .container .img-right {
    margin: 20px 0 0 0;
  }
  .numbers .container {
    width: 98%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .numbers .container .card-num {
    width: 160px;
    margin: 15px 0 0 0;
  }
  .pricing .container {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pricing .container .card {
    margin: 10px 0 0 0;
  }
  .testimonials {
    text-align: center;
  }
  .testimonials .container {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .testimonials .container .card {
    margin: 10px 0 0 0;
  }
  .testimonials .container .card .wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .team .container {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .team .container .card {
    margin: 10px 0 0 0;
  }
  .news .container {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news .container .box {
    margin: 15px 0 0 0;
  }
  .contact .container {
    width: 90%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact .container .box {
    max-width: 220px;
    margin: 10px auto;
  }
  .contact .contact-form {
    width: 90%;
  }
  .contact .contact-form .first-last input:nth-child(1) {
    margin-right: 10px;
  }
}

@media (max-width: 1048px) {
  .hero .container {
    width: 90%;
  }
}

@media (max-width: 1260px) {
  nav {
    background: #fff;
    width: 100%;
  }
  nav .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
  }
  nav .container .logo a h1 {
    color: #000;
  }
  nav .container #menu {
    display: block;
    color: #000;
  }
  nav .container .items-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  nav .container .items-right.hide {
    display: none;
  }
  nav .container .items-right a {
    -webkit-user-select: none;
    color: #000;
    font-weight: 600;
  }
}

@media (max-width: 1267px) {
  .welcome .container {
    width: 90%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .welcome .container .card {
    max-width: 480px;
  }
  .featured .container {
    width: 90%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .offer .container {
    width: 90%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .offer .container .box {
    max-width: 430px;
  }
}

@media (max-width: 1318px) {
  .why-us .container {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .why-us .container .card-left {
    max-width: 950px;
  }
  .why-us .container .img-right {
    margin: 30px 0 0 0;
    max-width: 950px;
  }
}

@media (max-width: 1200px) {
  .testimonials .container {
    max-width: 90%;
  }
  .testimonials .container .card {
    max-width: 370px;
  }
}

@media (max-width: 905px) {
  .contact .contact-form {
    max-width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 1265px) {
  .team .container {
    max-width: 90%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .team .container .card {
    margin: 10px 0;
  }
}

@media (min-width: 769px) and (max-width: 1274px) {
  .pricing .container {
    max-width: 90%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pricing .container .card {
    max-width: 300px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .news .container {
    max-width: 90%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .news .container .box {
    max-width: 450px;
    margin: 15px auto;
  }
}
/*# sourceMappingURL=style.css.map */